body {
    background: #353c43;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.header {
    float: left;
    margin: 0;
    overflow: hidden;
    position: fixed;
    padding-left: 16px;
    padding-top: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    color: #fff;
    font-size: 24px;
    background-color: #1976D2;
    text-align: left;
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.28);
}

.root {
    margin: auto;
    width: 80%;
    padding-top: 60px;
}

.root-children > * {
    display: inline-block;
}

.cover-image {
    height: 220px;
    width: 262px;
}

.card {
    background: #2196F3;
    border-radius: 2px;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    min-height: 370;
    max-width: 262px;
    margin: 1rem;
    position: relative;
    padding: 10px;
    padding-top: 4px;
    position:relative;
}

.card-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.28);
}

.text-name {
    color: #fff;
    font-size: 28px;
    text-align: left;
    padding-left: 10;
    padding-right: 10;
    margin-right: 260;
}

.text-name:hover {
    cursor: pointer;

}

.text-dex {
    color: #fff;
    font-size: 20px;
    position:absolute;
    bottom: 18px;
}

ul {
    margin-top: 20;
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 35;
    padding: 0;
}

.text-type {
    color: #fff;
    margin-top: 0;
    margin-bottom: 15;
    margin-left: 30;
    margin-right: 100;
    font-size: 18px;
}

.text-description {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 38px;
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
	float: left;
}

.view-details {
    background-color: transparent;
    border: none;
    outline:0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75px;
    min-height: 36px;
    text-align: center;
    text-transform: uppercase;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.spinner {
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  animation: rotate 2s linear infinite;
}

.spinner circle {
  fill: none;
  stroke: #fff;
  animation: dash 1.4s cubic-bezier(0.4,0,0.2,1) infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 2, 155;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 128, 24;
    stroke-dashoffset: -20;
  }
  100% {
    stroke-dasharray: 2, 155;
    stroke-dashoffset: -155;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
